.backgroundborder {
    padding: 50px 100px 100px 100px;
    border: 1pt black solid;
    background-image: url("images/gravel.png");
}
.bodyborder {
    border: 1pt black solid;
    padding: 0px 10px 20px 10px;
    width: 60%;
    height: auto;
    position: relative;
    left: 25%;
    background-color: #ffffff;
    
}
.logo {
    float: left;
    padding: 2px;
    width: 23%;
    margin-bottom: 0%;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    position: relative;
    left: 28.4%;
}
a:link {
    color: #777777;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #777777;
    background-color: transparent;
    text-decoration: none;
}
#About {
    float: right;
    color: #777777;
    background-color: transparent;
    padding: 1px;
    width: 10%;
    border: none;
}
#Portfolio {
    float: right;
    color: #777777;
    background-color: transparent;
    padding: 1px;
    width: 10%;
    border: none;
}
#Contact {
    float: right;
    color: #777777;
    background-color: transparent;
    padding: 1px;
    width: 10%;
    border: none;
}
.header {
    float: left;
    background-color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    width: 32%;
    color: #4aaaa5;
    text-align: left;
    border-color: #cccccc;
    height: 9px;
    padding: 2px;
}
.body {
    padding: 5px;
    overflow: auto;
    background-color: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border-color: #dddddd;
    width: 95%;
    color: #777777;
    height: 200px;
    text-align: left;
}
.image {
    float: left;
    padding: 10px;
    margin-bottom: 0%;
}
.footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 110%;
    padding: 5px;
    position: fixed;
    bottom: 0;
    right: 0;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.pic1 {
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
    float: left;
    padding: 9px;
}
.SubmitBtn {
    background-color:#4aaaa5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.bowling {
    background-color:#4aaaa5;
    border: none;
    color: white;
    padding: 20px 49px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    text-decoration: none;
}
.basketball {
    background-color:#4aaaa5;
    border: none;
    color: white;
    padding: 20px 49px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    text-decoration: none;
    bottom: 20%;
    float: left;
}
.pool {
    background-color:#4aaaa5;
    border: none;
    color: white;
    padding: 20px 49px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    text-decoration: none;
    bottom: 20%;
    float: left;
}
.spades {
    background-color:#4aaaa5;
    border: none;
    color: white;
    padding: 15px 47px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    text-decoration: none;
    bottom: 20%;
    float: left;
}
.gym {
    background-color:#4aaaa5;
    border: none;
    color: white;
    padding: 15px 47px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    text-decoration: none;
    bottom: 20%;
    float: left;
}
.macbook {
    background-color:#4aaaa5;
    border: none;
    color: white;
    padding: 15px 47px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    text-decoration: none;
    bottom: 20%;
    float: left;
}
.imagefix {
    background-color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    height: 600px;
    color: #4aaaa5;
    border-color: #cccccc;
}
.banners {
    position: absolute;
    z-index: 2;
    background-color: teal;
    color: white;
    width: 199px;
    height: 35px;
    bottom: 20px;
    left: 11px;
    text-align: center;
    padding-top: 2px;
    }